.App {
  text-align: center;
}

.main{
  min-height: 83vh;
  background: rgba(205, 225, 225, 0.729);
}

.admin-layout{
  display: flex;
}

.admin-layout .side-bar{
  width: 230px;
  position: fixed;
  height: 100vh;
}

.admin-layout .main{
  margin-left: 230px;
  width: calc(100vw - 230px);
}

.page-content{
  min-height: 83vh;
}

.sid-nav li{
  line-height: 3rem;
  font-weight: 600;
  /* font-size: 1.3rem; */
}

.reset-pass{
  width: 450px;
  margin: auto;
  box-shadow: -5px 5px 10px grey;
  padding: 1rme;
  border-radius: 10px;
}

.topGraphInfo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;

}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 15px;
  gap: 1rem;
  border-radius: 10px;
}

.card:first-child{
  background: #2962ff;
}
.card:nth-child(2){
  background: #ff6d00;
}
.card:nth-child(3){
  background: #2e7d32;
}

/* ======== grpah ======== */
.mainGraphInfo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}